@charset "UTF-8";

.jd_container {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  height: 1000px;
  background-color: #f7f7f7;
}


/*京东头部开始*/

/*.jd_header_wrap {*/
  /*height: 40px;*/
  /*position: fixed;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*left: 0;*/
/*}*/



.jd_header {
  height: 40px;
  background-color: rgba(222, 24, 27, 0);
  /*固定定位只跟浏览器有关系*/
  position: fixed;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.jd_header .logo {
  /*给的精灵图是2倍图，量出来的大小和坐标都要除以2*/
  width: 57px;
  height: 21px;
  /*background-color: blue;*/
  position: absolute;
  top: 7px;
  left: 7px;

  background-position: 0 -109px;
}

.jd_header .search {
  height: 40px;
  margin: 0 50px 0 75px;
  /*background-color: green;*/
  position: relative;
}

.jd_header .search input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border-radius: 15px;
  padding-left: 35px;
}

.jd_header .search .icon_search {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-position: -59px -109px;
}

.jd_header .login {
  width: 50px;
  height: 40px;
  /*background-color: blue;*/
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
/*京东头部结束*/


/*京东轮播图开始*/
.jd_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.jd_banner ul {
  width: 1000%;
  /*显示第一张图片*/
  transform: translateX(-10%);
}

.jd_banner ul li {
  width: 10%;
  float: left;
}

.jd_banner ol {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.jd_banner ol li {
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
}

.jd_banner ol li.now {
  background-color: #fff;
}
/*京东轮播图结束*/


/*京东导航开始*/
.jd_nav {
  width: 100%;
}

.jd_nav li {
  width: 20%;
  float: left;
  padding: 10px 0;
}

.jd_nav img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.jd_nav p {
  text-align: center;
  color: #000;
  line-height: 20px;
}

/*京东导航结束*/


/*京东快报开始*/
.jd_news {
  height: 30px;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
}

.jd_news .logo {
  width: 82px;
  height: 30px;
  /*background-color: blue;*/
  position: absolute;
  top: 0;
  left: 0;
}

.jd_news .logo img {
  width: 73px;
  height: 16px;
  margin-left: 7px;
  margin-top: 7px;
}

.jd_news .info {
  height: 30px;
  margin: 0 40px 0 82px;
  /*background-color: green;*/
  overflow: hidden;
}


.jd_news .info li {
  padding:0 10px;
  /*background-color: pink;*/
}

.jd_news .info a {
  height: 30px;
  line-height: 30px;
}



.jd_news .more {
  width: 40px;
  height: 30px;
  /*background-color: blue;*/
  position: absolute;
  top: 0;
  right: 0;
  line-height: 30px;
}
/*京东快报结束*/


/*京东秒杀开始*/
.jd_seckill {
  margin-top: 10px;
  background-color: #fff;
}

.jd_seckill .seckill_t {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.jd_seckill .seckill_t .icon_clock {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 3px;
  left: 9px;
  background-position: -82px -109px;
}

.jd_seckill .seckill_t .seckill_text {
  float: left;
  margin-left: 24px;
  color: #f23030;
  letter-spacing: 2px;
}

.jd_seckill .seckill_t .seckill_time {
  float: left;
  width: 74px;
  height: 18px;
  line-height: 18px;
  margin-left: 6px;
  margin-top: 6px;
}

.jd_seckill .seckill_time > span {
  float: left;
  text-align: center;
}

.jd_seckill .seckill_time > span:nth-child(odd) {
  width: 18px;
  height: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
}

.jd_seckill .seckill_time > span:nth-child(even){
  width: 10px;
  height: 18px;
}

.jd_seckill .seckill_t .seckill_more {
  float: right;
}

.jd_seckill .seckill_c {
  overflow: scroll;
}

.jd_seckill .seckill_c ul {
  width: 2000px;
}

.jd_seckill .seckill_c li {
  float: left;
  width: 87px;
}

.jd_seckill .seckill_c a {
  display: block;
  height: 70px;
  width: 87px;
  border-right: 1px solid #ccc;
}

.jd_seckill .seckill_c img {
  width: 60px;
  height: 60px;
  margin: 5px auto;
}

.jd_seckill .seckill_c .new_price {
  color: #f23030;
  font-weight: 700;
  text-align: center;
}

.jd_seckill .seckill_c .old_price {
  text-align: center;
  text-decoration: line-through;
}

/*京东秒杀结束*/


/*京东主会场开始*/
.jd_main {

}

.jd_main a {
  float: left;
  width: 33.33%;
}

/*京东主会场结束*/

/*京东产品开始*/
.jd_product {

}

.jd_product a {
  width: 50%;
  float: left;
}

.jd_product li:first-child > a {
  width: 33.33%;
}
/*京东产品结束*/